body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  font-size: .12rem; }

header {
  width: 100%;
  height: 0.44rem;
  position: relative;
  text-align: center;
  line-height: 0.44rem;
  font-size: 0.16rem; }
  header .icon-arrowleft {
    position: absolute;
    left: 0.15rem;
    font-size: 0.1rem; }
  header .icon-xinxi {
    position: absolute;
    right: 0.15rem;
    font-size: 0.2rem; }

nav {
  width: 100%;
  box-sizing: border-box; }
  nav p:nth-child(1) {
    box-sizing: border-box;
    padding-left: 0.33rem;
    height: 0.38rem;
    line-height: 0.38rem;
    box-siaing: border-box; }
    nav p:nth-child(1) span:nth-child(1) {
      font-size: 0.14rem;
      color: #000;
      margin-right: 0.19rem; }
    nav p:nth-child(1) span:nth-child(2) {
      color: #808080; }
  nav p:nth-child(2) {
    padding: 0.06rem 0.3rem;
    color: #808080;
    box-sizing: border-box;
    position: relative; }
    nav p:nth-child(2) .icon-arrowright {
      position: absolute;
      right: 0.15rem;
      top: 0.05rem;
      font-size: 0.1rem; }
    nav p:nth-child(2) .icon-zuobiao {
      position: absolute;
      left: 0.15rem;
      top: 0.1rem;
      font-size: 0.08rem; }

.bg {
  width: 100%;
  height: 0.1rem;
  background: url("../images/img/shop1.png"); }

.empty {
  width: 100%;
  height: 0.1rem;
  background: #eee; }

section {
  position: relative;
  flex: 1;
  overflow-y: scroll;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  width: 100%;
  box-sizing: border-box; }
  section p:nth-child(1) {
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.14rem; }
    section p:nth-child(1) i {
      font-size: 0.2rem;
      color: #ff6d1f;
      line-height: 0.45rem;
      margin-right: 0.03rem;
      margin-top: 0.02rem; }

.shop {
  width: 100%;
  margin-bottom: 0.26rem; }
  .shop dl {
    display: -webkit-flex; }
    .shop dl dt {
      flex: 4; }
      .shop dl dt img {
        width: 100%;
        height: auto; }
    .shop dl dd {
      flex: 6;
      margin-left: 0.1rem;
      position: relative; }
      .shop dl dd p:nth-child(1) {
        line-height: 0.19rem;
        margin-bottom: 0.28rem; }
      .shop dl dd p:nth-child(2) {
        font-size: 0.14rem;
        color: #fc4141;
        font-weight: bold; }
      .shop dl dd p:nth-child(3) {
        font-size: 0.1rem;
        color: #999;
        text-decoration: line-through; }
      .shop dl dd p:nth-child(4) {
        position: absolute;
        right: 0.15rem;
        top: 0.75rem;
        font-size: 0.14rem;
        color: #000; }

.del, .add {
  box-sizing: border-box;
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  border: 1px solid #999; }

.num {
  box-sizing: border-box;
  display: inline-block;
  width: 0.4rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  border: 1px solid #999; }

.bg1 {
  width: 100%;
  display: box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-flex-orient: vertical;
  overflow: hidden; }

.right {
  float: right;
  position: relative; }

.fa-angle-right {
  position: absolute;
  top: 0.1rem;
  font-size: 0.2rem;
  line-height: 0.2rem; }

.detail {
  width: 100%;
  margin-bottom: 0.12rem; }
  .detail p {
    line-height: 0.2rem;
    color: #666; }
  .detail p:nth-child(1) {
    height: 0.2rem;
    line-height: 0.2rem; }

.color {
  color: #fc4141;
  font-size: 0.14rem;
  font-weight: bold; }

#uls {
  width: 100%;
  color: #333; }
  #uls li {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.16rem;
    position: relative; }
    #uls li input {
      display: none; }
    #uls li .right {
      position: absolute;
      right: 0.05rem;
      top: 0.12rem; }
    #uls li label {
      width: 0.6rem;
      height: 0.35rem;
      display: inline-block;
      border: 1px solid #cdcdcd;
      border-radius: 30px;
      position: relative;
      box-sizing: border-box; }
      #uls li label span {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 0.34rem;
        height: 0.34rem;
        border-radius: 50%;
        border: 1px solid #cdcdcd;
        -webkit-transition: all 0.5s; }

#ck1:checked + label {
  background: #4cd964; }

#ck1:checked + label span {
  left: 25px;
  background: #fff;
  border: none; }

#ck2:checked + label {
  background: #4cd964; }

#ck2:checked + label span {
  left: 25px;
  background: #fff;
  border: none; }

footer {
  width: 100%;
  height: 0.6rem; }
  footer ul {
    display: -webkit-flex; }
    footer ul li:nth-child(1) {
      fleX: 6;
      margin-right: 0.1rem;
      text-align: right; }
      footer ul li:nth-child(1) p:nth-child(1) {
        line-height: 0.35rem;
        color: #fc4141;
        font-size: 0.14rem; }
        footer ul li:nth-child(1) p:nth-child(1) span {
          font-weight: bold; }
      footer ul li:nth-child(1) p:nth-child(2) {
        margin-right: 0.25rem;
        color: #8c8c8c; }
    footer ul li:nth-child(2) {
      flex: 4;
      line-height: 0.6rem;
      text-align: center;
      background: #fc4141;
      color: #fff; }

.mark {
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: -30px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 0.36rem;
  line-height: 0.36rem;
  text-align: center;
  font-size: 0.14rem;
  border-radius: 30px; }

/*# sourceMappingURL=shop.css.map */
